*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Zilla Slab', serif;
}

nav {
	background: white;
	position: sticky;
	top: 0px;
	color: black;
	padding-bottom: 4.5rem;
	padding-left: 3rem;
	padding-right: 10%;
}

nav .nav-logo {
	display: inline-block;
	float: left;
}

/*
nav .nav{
	font-family: open sans;
	color:  black;
	display: inline-block;
	float: right;
	margin-top: 1rem;
	margin-left: .8rem;
	margin-right: .8rem;
}*/

nav .right-nav{
	list-style: none;
	float: right;
}

nav li {
	font-family: open sans;
	float: left;
	padding: 15px;
	margin-top: .5rem;
}

nav .tuitt-button {
	float: right;
	font-weight: bold;
	background: #c2195b;
	color: white;
	border: none;
	margin: 1rem;
	border-radius: 60px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.front-bg {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center ;
	background-attachment: scroll;
	margin-top: .5rem;
}

div .container {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}

div .title {
	font-family: roboto sans-serif;
	color: white;
	text-align: right;
	font-size: 2em;
	line-height: 2.5rem;
	width: 35%;
	margin-left: 50%;
	padding-top: 0.5rem;
}


div .apply-button {
	background: #c2195b;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 60px;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin-left: 73%;
	margin-top: 1%;
}


div .subtitle {
	font-family: roboto;
	color: white;
	font-size: 17px;
	line-height: 1.5rem;
	width: 25%;
	text-align: right;
	margin-top: 2%;
	margin-left: 60%;
}

.intro-title {
	font-family: roboto sans-serif;
	font-weight: bold;
	font-size: 30px;
	display: inline-block;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 30%;
}

.intro {
	font-family: open sans;
	display: inline-block;
	text-align: justify;
	width: 76%;
	margin-top: 2%;
	margin-bottom: 5rem;
	margin-left: 15%;
}

.pre-footer {
	background: #f7fbfb;
	text-align: center;
	padding: 8rem;
}

.pre-footer .title-2{
	font-family: roboto sans-serif;
	font-size: 30px;
	text-decoration: uppercase;
	font-weight: bold;
	margin: 1.5rem;
}

.prefooter-description{
	font-family: open sans;
	font-size: 14px;
	width: 88%;
}

.book-button {
	background: #336589;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 60px;
	padding-right: 3rem;
	padding-left: 3rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin-top: 1.5%;
}

footer {
	font-family: open sans;
	text-align: center;
	margin: 0.5rem;
	letter-spacing: 1px;
}